<!DOCTYPE html>
<html lang="en">
<!-- CSSPLACEHOLDER -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnonChat - Login</title>
</head>

<body>
    <div class="login-container">
        <h2>Sign in</h2>
        <!-- Display flashed messages -->

        <form action="{{ url_for('admin.admin_login_page') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <div class="password-container">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="button" id="show_password" onclick="togglePassword()"></button>
            </div>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <button type="submit">Login</button>
        </form>
    </div>
</body>

<!-- JSPLACEHOLDER -->

</html>