@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#chatContainer {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  z-index: 1000;
  flex-shrink: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-wrapper {
  display: flex;
  flex: 1 1 100%;
  top: 0;
  bottom: 0;
  position: relative;
}

#chatContainer {
  overflow-y: auto;
  position: absolute;
  inset: 0;
  padding: 20px;
  color: #fff;
  margin-bottom: 58px;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #222;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#imgr {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

#imgr:hover {
  color: #0056b3;
}

textarea {
  font-family: "Roboto", Arial, sans-serif;

  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  outline: none;
  background-color: #333;
  color: #fff;
  transition: height 0.3s ease;
  resize: none;
  min-height: 20px;
  max-height: 100px;
  overflow-y: auto;
}

.message {
  display: block;
  flex-direction: column;
  word-wrap: break-word;
  min-width: 10%;
  width: max-content;
  max-width: 70%;
  background-color: #007bff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: content-box;
  /* Add this to include padding and border in the width calculation */
}

.message-label {
  font-size: large;
  color: #fff;
}

.message-label::after {
  content: "Anon:";
}

.message-content {
  color: #fff;
  font-size: larger;
}

textarea:hover,
textarea:focus {
  border-color: #007bff;
}

/* Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

/* Firefox */
body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background-color: #333;
}

/* IE and Edge */
body {
  -ms-overflow-style: none;
}

body::-ms-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

body::-ms-scrollbar-track {
  background-color: #333;
}

.messagelink {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}
